<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DirName" value="D:\打印\合格证"/>
    <add key="ZeberNmae" value="ZDesigner 105SL 203DPI"/>

    <!--//关闭程序
    $(function () {
    $("#btn_close").click(function () {
    googleBrower.getSrc();
    //alert('');
    });
    });-->
  </appSettings>
</configuration>